<div class="container">
  <div class="jumbotron">
    <h3>Welcome  to</h3>
    <h1>Stokastik</h1>
    <h3>A random number generation service</h3>
    
    <%= link_to 'Generate a random number', new_random_string_path, class: 'btn btn-default btn-lg' %>
    <%= link_to 'View already generated random numbers', random_strings_path, class: 'btn btn-default btn-lg' %>
  </div>
</div>