<div class="container">
  <div class="jumbotron">
    <h1><%= @random_string.random_value %></h1>
    <%= link_to 'Generate another one', new_random_string_path, class: 'btn btn-default btn-lg' %>
  </div>
</div>